{% extends "base.html" %}
{% block content %}
<div class="jumbotron mt-3">
    <h1 class="display-4">Player Market Value Prediction</h1>
    <p class="lead">Welcome to my Honours Project. This project aims to develop a machine learning model that predicts a
        player's market value based on performance data.</p>
    <hr class="my-4">
    <p>Use the navigation bar above to explore each step of the workflow—from web scraping and preprocessing, through
        player value retrieval, model creation, and finally model evaluation.</p>
</div>
{% endblock %}