{% extends "base.html" %}
{% block title %}Home - Peter Morris Honours Project{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to my Honours Project!</h1>
    <p class="lead">
        This project aims to create a machine learning model to determine a player's market value based on performance
        data.
    </p>
    <hr class="my-4">
    <p>Use the navigation bar above to access the various functionalities:</p>
    <ul>
        <li><a href="{{ url_for('model_preprocessing') }}">Model Preprocessing</a></li>
        <li><a href="{{ url_for('model_creation') }}">Model Creation</a></li>
        <li><a href="{{ url_for('model_evaluation') }}">Model Evaluation</a></li>
        <li><a href="{{ url_for('manual_input') }}">Manual Transfer Value Input</a></li>
    </ul>
</div>
{% endblock %}